.comp-header{


  .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    height: 10vh;
    background: #010f41f6;
    font-size: 1.8rem;
  }



  .nav__toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    transition: 0.4s ease-in;
    
    background: linear-gradient(153deg, rgba(13,13,13,1) 0%, rgba(5,242,131,1) 0%, rgba(5,175,242,1) 100%);
  }
  .nav__toggler {
    cursor: pointer;
    display: none;
  }


  .nav__active {
    display: flex;
    align-items: center;
    gap: 8rem;
    transform: translateX(0);
  }
  .nav__inactive {
    display: none;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }

  
  #navbar {
    font-size: 50rem;

    > .no-scroll {
      overflow: hidden;
    }
  }
  #navbar li .nav__link {
    transition: 0.3s ease-in-out;
  }
  #navbar li .nav__link:hover {
    background: linear-gradient(153deg, rgba(13,13,13,1) 0%, rgba(5,242,131,1) 0%, rgba(5,175,242,1) 100%) transparent;
    background-clip: text;
    color: transparent;
    animation: animated 4s linear infinite;
  }
  @keyframes animated {
    to {background-position-x: 161px;}
  }
  #navbar li :hover::after {
    content: "";
    width: 30%;
    height: 2px;
    bottom: -4px;
    left: 20px;
  }
  .nav__link:hover {
    border-bottom: solid 2px #0eecec;
  }


  .button, li {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.6rem;
  }
  
  @media screen and (max-width: 700px) {
    
    .nav {
        height: 13vh;
    }

    .nav__active {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 3rem;
      background: #040d2ef6;
      transform: translateX(100%);
      transition: transform 0.6s ease-in;
      z-index: 1;
    }

    .nav__active {
        transform: translateX(0); 
    }

    li {
        margin-top: 110px;
    }

    .nav__toggler {
      display: block;
    }


    .button, li {
        font-size: 1.6rem;
    }
}

}