.page-not-founding {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .titulo {
        text-align: center;
        font-family: 'Playwrite AR';
    }   

    .erro-img {
        position: relative;
    }






}

