.pagina-contato {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;

    .box-contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: 1200px;
      position: relative;

      .group {
        width: 40%;
        margin: 10px;
        padding: 20px;
        border: 1px solid #020E38;
        border-radius: 5px;
        background: #020E38;
        transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease, height 0.3s ease;
        position: relative;
        min-height: 200px;
        cursor: pointer;
        z-index: 1; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        &.active {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%; 
          height: auto; 
          background-color: #f0f0f0;
          color: #020E38;
          z-index: 10; 
          transform: none;
          display: flex;
          flex-direction: row; 
        }

        .card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          justify-content: space-between;
&.active {
            flex-direction: row; 
          }
        }
      }

      .texto {
        background-color: #02ff00; 
        color: #fff;
        padding: 30px;
        width: 40%; 
        text-align: center;

       
        .group.active & {
          color: #020E38;
          width: 40%; 
        }
      }

      .form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%; 
        padding: 20px;
        margin: 0;

        .formulario {
          width: 100%;

          input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          button {
            padding: 10px 20px;
            background-color: #00264d;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            margin-top: 10px;
          }

          button:hover {
            background-color: #001c3d;
          }

          label {
            font-size: 14px;
            color: #020E38;
          }

          .back-button {
            background-color: #888;
            margin-right: 10px;
          }
        }
      }

      .privacy {
        font-size: 12px;
        color: #020E38;
      }

      .privacy a {
        color: #00264d;
        text-decoration: none;
      }
    }
  }
}
