.pagina-contato {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .box-contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px;
      position: relative;

      .group {
        width: 40%;
        margin: 10px;
        padding: 20px;
        border: 1px solid #020E38;
        border-radius: 5px;
        background: #020E38;
        transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease, height 0.3s ease;
        position: relative;
        min-height: 200px;
        cursor: pointer;
        z-index: 1; 

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.active {
          position: absolute; 
          top: 0;
          left: 0;
          width: 60%; 
          height: 100%; 
          background-color: #ffffff;
          color: #020E38;
          z-index: 10; 
          transform: none; 
        }


        .texto {
          z-index: 1;
        }
        .texto p {
          text-align: left;
          width: 70%;
          color: #fff;
        }

        .content-container {
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          width: 100%;
          margin: 20px;

          .form {
            flex: 1;
            margin-right: 20px;
            z-index: 2;

            input, select {
              width: 100%;
              margin-bottom: 10px;
              padding: 8px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }

            button {
              padding: 10px 20px;
              background-color: #020E38;
              color: white;
              border: none;
              cursor: pointer;
              border-radius: 4px;
              margin-top: 10px;
            }

            .back-button {
              margin-right: 10px;
              background-color: #888;
            }
          }

          .icons {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            font-size: 16px;
            margin-left: 20px;
          }

          .icons svg {
            margin-right: 8px;
          }
        }
      }
    }
  }


  header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100; /* Garante que fique no topo, mas não flutue */
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 100; /* Garante que fique no rodapé, mas não flutue */
  }
}
