.carousel-feedbacks {
    .tittle2 {
        font-size: 4rem;
        text-align: center;
        border-bottom: 5px solid #020E38;
        display: inline-block;
        margin-left: 33px;

        & h1 {
            margin-top: 60px;
            font-size: 3rem;
        }
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 50vh;
        overflow: hidden;
        cursor: pointer;
        
        & .card {
            width: 500px;
            height: 100%;
            transition: opacity 0.5s ease, transform 0.5s ease;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
        }

        & .card.active {
            opacity: 1;
            display: block;
            transform: scale(1);  
        }
        & .card:not(.active) {
            pointer-events: none;
            transform: scale(0.8) translateZ(-100px); 
            z-index: 0;
        }

        & .card-container {
            width: 500px; 
            height: auto;
            cursor: pointer;
            transition: transform 0.3s, opacity 0.3s;   
        }
        & .card-container.hidden {
            display: none;
        }
 

        & .card-image {
            width: 70px;
            height: auto; 
            border-radius: 100%;
            margin-top: 20px;
        }

        & .text-content {
            display: flex;
            flex-direction: column; 
            margin-left: 1rem;
            
        }

        & .titulo-carousel {
            font-size: 2rem;
        }

        & .content-carousel {
            font-size: 2rem;

        }

        & .carousel-indicators {
            position: absolute;
            bottom: 10px;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        & .indicator {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: background-color 0.3s;
        }

        & .indicator.active {
            background-color: #020E38;
        }
    }

    @media screen and (max-width: 700px) {
        .carousel {
            flex-direction: row;
            overflow: hidden;
            position: relative;
        }

        .card-container {
            display: flex;
            flex-direction: row;
            animation: scroll-cards 20s linear infinite; 
        }

        .card {
            padding: 2rem;
            flex-shrink: 0;
            text-align: center;
            margin-right: 2rem;
        }

        .card-content {
            flex-direction: column;
            margin-top: 2.9rem;
            margin-top: 3rem;
        }

        .card-image {
            width: 70px;
            border-radius: 60%;
        }

        .text-content {
            margin-left: 0;
            text-align: center;
        }

        .titulo-carousel {
            font-size: 2.7vw;
        }

        .content-carousel {
            font-size: 3.2vw;
        }

        @keyframes scroll-cards {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(-200%);
            }
        }
    }
    
}
