.carousel-feedbacks {
    .tittle2 {
        font-size: 4rem;
        text-align: center;
        border-bottom: 5px solid #020E38;
        display: inline-block;
        margin-left: 33px;

        & h1 {
            margin-top: 60px;
            font-size: 3rem;
        }
    }

    .carousel {
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    
    .card-container {
        display: flex;
        gap: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        animation: slide 40s linear infinite;
        width: calc(100px * 5);
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 45px;
        width: 500px; 
        height: 100%;
        flex-shrink: 0;
    }

    .card-image {
        width: 70px;
        height: auto;
        border-radius: 100%;
        margin-top: 20px;
    }

    .titulo-carousel {
        font-size: 2rem;
    }

    .content-carousel {
        font-size: 2rem;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-100%);
        }
        40% {
            transform: translateX(-200%);
        }
        60% {
            transform: translateX(-300%);
        }
        80% {
            transform: translateX(-400%);
        }
        100% {
            transform: translateX(0);
        }
    }
}
