.comp-cabecalho{
  *,
  *::after,
  *::before {
    margin: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
  }
  body{
    font-size: 1.6rem;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: #fff;
  }


  /* NAVEGAÇÃO */
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background: #02094e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.199) ;
    
  }


  .nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    gap: 3rem;
  }


  /* ICONE MENU */
  .nav__toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    transition: 0.4s ease-in;
    
    background: rgb(13,13,13);
    background: linear-gradient(153deg, rgba(13,13,13,1) 0%, rgba(5,242,131,1) 0%, rgba(5,175,242,1) 100%);
    box-shadow: 0 40px 60px rgba( 0, 0, 0, 0.1 );
  }
  .nav__toggler {
    cursor: pointer;
    display: none;
  }


  /* RESPONSIVIDADE */
  @media screen and (max-width: 790px) {
    .nav__toggler {
      display: block;
    }

    .nav__menu{
      position: fixed;
      flex-direction: column;
      transform: translateX(100%);
      top: 9vh;
      right: 0;
      width: 50%;
      height: 93vh;
      background: #02094e;
      transition: 0.5s ease-in;
    }
  }


  /* ANIMAÇÃO DO ICONE MENU */
  .nav__active {
    transform: translateX(0);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }


  /* ANIMAÇÃO NOS LINKS */
  #navbar li .nav__link {
    transition: 0.3s ease-in-out;
  }

  #navbar li .nav__link:hover {
    color: #0eecec;
  }

  #navbar li :hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #0eecec;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

}