

.comp-footer {

    .section__padding {
        padding: 1vw 4vw;
        margin: 0;
    }
    .footer {
        background: #020e38;
    }
    .sb__footer {
        display: flex;
        flex-direction: column;
    }

    .sb__footer-links {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        text-align: left;
        margin-bottom: 2rem;
    }

    .sb__footer-links-div {
        color: #e4e2e2;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        font-size: 1.5vw;
        line-height: 1;
        margin-bottom: 2rem;

        .logo {
            width: 10vw;
        }
        .text__links-div {
            font-size: 1.2vw;
        }
    }



    .sb__footer-links_div {
        color: #fff;
        font-size: 1.2vw;
        margin-bottom: 3rem;
    
        h4 {
            font-size: 1.4vw;
            margin-bottom: 0.5rem;
        }
    
        .foot__link-group {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            align-items: flex-start; 
            justify-content: flex-start; 
        }
    
        .foot__link {
            width: 45%;
            text-align: left;  
            margin-bottom: 0.5rem;
        }
    }
    
    .button, .foot__link {
        background: transparent;
        color: #fff;
        font-size: 1.2vw;
        line-height: 2.5;
        border: none;
        cursor: pointer;
    }

    .foot__link:hover {
        background: linear-gradient(153deg, rgba(13, 13, 13, 1) 0%, rgba(5, 242, 131, 1) 0%, rgba(5, 175, 242, 1) 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .foot__link:hover {
        background: linear-gradient(153deg, rgba(13, 13, 13, 1) 0%, rgba(5, 242, 131, 1) 0%, rgba(5, 175, 242, 1) 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }



    .social-icons {
        display: flex;
        gap: 1vw;

        a {
            width: 3vw;
            height: 3vw;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #eceeef;
            transition: all 0.2s;
        }

        a:hover {
            color: #fff;
            background-color: #06003d;
        }

        .facebook:hover { background-color: #3b5998; }
        .twitter:hover { background-color: #1077ff; }
        .linkedin:hover { background-color: #007bb6; }
        .instagram:hover { background-color: #ef3dff; }
    }



    .grad-bar {
        width: 100%;
        height: 3px;
        background: linear-gradient(153deg, rgba(13,13,13,1) 0%, rgba(5,242,131,1) 0%, rgba(5,175,242,1) 100%);
        animation: gradbar 12s ease infinite;
    }
    @keyframes gradbar {
        0%, 100% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
    }

    

    .sb_footer-below{
        color: #e4e2e2;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        font-size: 1vw;
        margin-top: 2rem;
        gap: 1rem;
    }
    .sb__footer-below-links {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        font-size: 1vw;
        gap: 1rem;
    }
    .sb__footer-copyright p {
        color: #fff;
        display: inline;

    }


    .foot__links {
        line-height: 40px;
        font-size: 1.7rem;
        display: inline-block;
    }
    .foot__links:active, 
    .foot__links:focus, 
    .foot__links:hover  {
        color: #3366cc;
        background: rgb(13,13,13);
        background: linear-gradient(153deg, rgba(13,13,13,1) 0%, rgba(5,242,131,1) 0%, rgba(5,175,242,1) 100%) transparent;
        background-clip: text;
        display: inline;
        color: transparent;
        animation: animated 4s linear infinite;
    }
    @keyframes animated {
        to {background-position-x: 161px;}
    }



    @media (max-width: 768px) {
        
        .sb__footer-links-div {
            .logo {
                width: 15vw;
            }
            .text__links-div {
                font-size: 2vw;
            }
        }
    
        
        .sb__footer-links {
            flex-direction: column;
            align-items: center;
        }

        .sb_footer-below {
            font-size: 2.5vw;
            flex-direction: column;
            align-items: center;
        }

        .logo { width: 50vw; }
        .sb__footer-links-div, .sb__footer-links_div { font-size: 4vw; }
        .text__links-div, .button, .foot__link { font-size: 2.5vw; }

        .foot__link {
            width: 100%;
        }
    }


}