/*
COLORIDAS
Kalnia Glaze
Honk

CURSIVAS
Playwrite AR (Pequeno Principe)
Playwrite Österreich (Pequeno Principe escuro + aberto)
Playwrite België Vlaams Gewest (Pequeno Principe negrito + aberto)
Dancing Script (Borboleta)
Shadows Into Light (Diario de um banana - normal)
Caveat (Diario de um banana - pequen

ITALICAS
Edu AU VIC WA NT Hand
Montserrat
Raleway
Bona Nova SC
Bodoni Moda SC
Baskervville SC

Lato
*/

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Honk&family=Kalnia+Glaze:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+BE+VLG:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*, 
*::after, 
*::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', 'Arial';
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

html, body {
    overflow: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

h1, p {
    color: #000000;
    text-align: center;
    line-height: 1.4;
}



h2 {
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
}
