.pagina-jeito {
    text-align: center;
    padding: 20px;
    background-color: #0c0e23;
    color: #ffffff;
    height: auto;

    h2 {
        color: #fff;
        font-size: 38px;
        text-align: left;
        font-weight: 300;
        width: 30%;
        padding: 30px 0px 0px 40px;
    }

    .cards-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px;
    }

    .card {
        width: 30vh;
        padding: 40px;
        border-radius: 15px;
        background-color: #1a1c32;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        }

        .card-image {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .card-title {
            font-size: 3em;
            margin: 40px 0 60px;
            background-clip: text;
            color: transparent;
        }

        .card-button {
            padding: 10px 15px;
            background-color: #ffffff;
            color: #030303;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #ececec;
            }
        }
    }

    .popup-overlay {
        position: fixed;
        top: 1810px;
        left: 0px;
        width: 99vw;
        height: 110vh;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .popup {
        position: relative;
        background: #0c0e23;
        width: 100%;
        max-width: 1500px;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;


        .popup-info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .popup-text {
                flex: 2 1;

                h2 {
                    color: #0c0e23;
                    font-weight: 400;
                    font-size: 3.8rem;
                    text-align: left;
                    width: 509px;
                    padding: 20px 20px 20px;
                    border-radius: 20px 20px 20px 0;
                }

                p {
                    color: #ffffff;
                    font-size: 2.2rem;
                    line-height: 1.8;
                    text-align: left;
                    margin-top: 64px;
                    padding: 20px 20px 20px;
                    width: 509px;
                }
            }

            .popup-image {
                flex: 2 1;
                max-width: 660px;
                height: auto;
                border-radius: 30px;
                align-self: center;
                box-shadow: 10px 3px 2px rgb(244, 228, 178);
            }
        }

        .close-button {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 4rem;
            cursor: pointer;
            color: rgba(197, 5, 5, 0.8705882353);
            transition: color 0.3s;
            z-index: 10002;

            &:hover {
                color: #ff0000;
            }
        }
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 1.5rem;
            width: 100%;
            padding: 15px;
        }

        .cards-container {
            gap: 10px;
            padding: 20px;
        }

        .card {
            width: 90%;
            padding: 10px;

            .card-image {
                width: 100%;
            }

            .card-title {
                font-size: 1rem;
                margin: 10px 0;
            }

            .card-button {
                font-size: 0.9rem;
                padding: 8px;
            }
        }

        .popup {
            padding: 15px;

            .popup-content {
                flex-direction: column;
                .popup-image {
                    max-width: 100%;
                }
            }
        }
    }
}
