.pagina-sobre {

    .headline {
        width: 100%;
        height: 50vh;
        min-height: 500px;
        background: url('../../assets/images/container-sobre.png');
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        > p, span {
            color: #fff;
            text-align: right;
            line-height: 1.4;
        }

        > span {
            font-size: 2.2rem;
        }


        & .estrela {

            @function multiple-box-shadow($n) {
                $value: '#{random(2000)}px #{random(2000)}px #FFF';
                @for $i from 2 through $n {
                    $value: '#{$value}, #{random(2000)}px #{random(2000)}px #FFF';
                }
                @return unquote($value);
            }
            
            $shadows-small: multiple-box-shadow(700);
            $shadows-medium: multiple-box-shadow(200);
            $shadows-big: multiple-box-shadow(100);
            
            
            #stars {
                width: 1px;
                height: 1px;
                background: transparent;
                box-shadow: $shadows-small;
                animation: animStar 50s linear infinite;
            
                &:after {
                    content: " ";
                    position: absolute;
                    top: 2000px;
                    width: 1px;
                    height: 1px;
                    background: transparent;
                    box-shadow: $shadows-small;
                }
            }
            
            #stars2 {
                width: 2px;
                height: 2px;
                background: transparent;
                box-shadow: $shadows-medium;
                animation: animStar 100s linear infinite;
            
                &:after {
                    content: " ";
                    position: absolute;
                    top: 2000px;
                    width: 2px;
                    height: 2px;
                    background: transparent;
                    box-shadow: $shadows-medium;
                }
            }
            
            #stars3 {
                width: 3px;
                height: 3px;
                background: transparent;
                box-shadow: $shadows-big;
                animation: animStar 150s linear infinite;
            
                &:after {
                    content: " ";
                    position: absolute;
                    top: 2000px;
                    width: 3px;
                    height: 3px;
                    background: transparent;
                    box-shadow: $shadows-big;
                }
            }

            #title {
                position: absolute;
                top: 45%;
                left: 0;
                right: 0;
                color: #FFF;
                text-align: right;
                font-family: 'lato', sans-serif;
                font-weight: 300;
                font-size: 50px;
                letter-spacing: 10px;
                margin-top: -60px;
                padding-left: 10px;
                font-weight: 300;
            
                > span {
                    background: -webkit-linear-gradient(#ffffff, #b0c6d8);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

                        
            @keyframes animStar {
                from {
                    transform: translateY(0px);
                }
                to {
                    transform: translateY(-2000px);
                }
            }
        }     
    }


    .section__about_us {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;
        height: 350px;
        box-sizing: border-box;
        padding: 30px;

        & .info_separar {
            display: flex;
            justify-content: space-between; 
            align-items: flex-start;
            width: 100%; 
        }
        
        & .text10, & .text11 {
            width: 48%; 
            padding: 15px; 
            box-sizing: border-box;
        }
        
        & .info_separar p {
            font-size: 1.9rem;
            text-align: left;
        }
        

    }
    .text9 {
        font-size: 3.5rem;
        text-align: left;
        color: #020E38;
        border-bottom: 5px solid #020E38;
        margin-left: 14px;
    }
    .text8 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
    }
    .text8 p {
        margin-left: 14px;
        margin-top: 55px;
        font-size: 2.5rem;
        text-align: left;
        font-weight: bolder;
        color: #020E38;
        width: 98%;

    }


    .section__MVV{

        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;
        height: 400px;
        background: #020E38;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
        
        
        & .missao, & .visao, & .valores {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            padding: 30px;
            margin-bottom: 70px;
            
        }
        
        & .corzinha h1{
            color: #0BAFCB;
            font-size: 3rem;

            display: inline-block;
            justify-content: center;
            align-items: baseline;
        }
        
        & .corzinha p{
            font-size: 1.7rem;
            color: #fff;
            width: 78%;
            margin-top: 22px;

            display: inline-block;
            justify-content: center;
            align-items: baseline;
        }

    }


    .section__work {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;

        .img_work {
            flex: 1;
            
            & img {
                max-width: 100%;
                height: auto;
            }
        }

        .text13{
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 30px;

        }
        .text13 {
            flex: 1.5;
            margin-left: 50px;
        }
        .text13 p {
            width: 90%;
            text-align: left;
        }
        .titulo2 {
            font-size: 3.5rem;
            color: #020E38;
            border-bottom: 5px solid #020E38;
            width: 37%;
        }



        & .more__about {
            position: relative;
            display: inline-flex;
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 2rem;
            color: #020E38;
            transition: all 0.3s;
            text-decoration: none;

            .button-link {
                color: #fff;
                text-decoration: none;
                background-color: #020E38;
                padding: 10px 20px;
                transition: all 0.3s ease;
                display: inline-block;
            }

            &:hover .button-link {
                background-color: rgb(13, 13, 13);
                background: linear-gradient(153deg, rgba(13,13,13,1) 0%, rgba(5,242,131,1) 0%, rgba(5,175,242,1) 100%);
                background-clip: text;
                color: transparent;
                animation: animated 4s linear infinite;
            }
        
            @keyframes animated {
                to { background-position-x: 161px; }
            }
        }

    }


}